article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}script{display:none !important}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:0 0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

@-webkit-keyframes blinky {
	0% {opacity: 1}
	50% {opacity:0}
	100% {opacity: 1}
}

@-moz-keyframes blinky {
	0% {opacity: 1}
	50% {opacity:0}
	100% {opacity: 1}
}

@-o-keyframes blinky {
	0% {opacity: 1}
	50% {opacity:0}
	100% {opacity: 1}
}

@-keyframes blinky {
	0% {opacity: 1}
	50% {opacity:0}
	100% {opacity: 1}
}

.bar-content {float: left; width: 160px;height: 265px; margin-right: 20px;}

body.dn .bar-holder{opacity: 0 !important;}

#the-clock-box {width: 1190px; margin: 80px auto;}
#the-clock-box .bar{ background:#6e6e6e; height:100px; width:20px; display: inline-block; position: relative; }
#the-clock-box .bar:after, #the-clock-box .bar:before{ content:""; width:0; height:0; }
#the-clock-box .bar:after{border-left: 10px solid transparent; border-right: 10px solid transparent;border-bottom: 10px solid #6e6e6e; position: absolute; top:-10px; left: 0px;}
#the-clock-box .bar:before{border-left: 10px solid transparent; border-right: 10px solid transparent;border-top: 10px solid #6e6e6e; position: absolute; bottom:-10px; left: 0px;}

#the-clock-box .bar.horz {transform: rotate(90deg); -ms-transform:rotate(90deg); -webkit-transform:rotate(90deg)}
#the-clock-box .bar-holder {position: absolute; opacity: 1; -webkit-transition: all 1.0s ease-in;   -moz-transition: all 1.0s ease-in;   -o-transition: all 1.0s ease-in;   transition: all 1.0s ease-in;}
#the-clock-box .bar-holder.top {top: -40px; left: 70px;}
#the-clock-box .bar-holder.tl {top: 21px; left: 9px;}
#the-clock-box .bar-holder.tr {top: 21px; left: 131px;}
#the-clock-box .bar-holder.middle {top: 82px; left: 70px;}
#the-clock-box .bar-holder.bl {top: 144px; left: 10px;}
#the-clock-box .bar-holder.br {top: 142px; left: 132px;}
#the-clock-box .bar-holder.bottom {top: 205px; left: 72px;}

/* Main Boxes */
.digit {position: relative; float: left;}
.colon {width: 25px; height: 25px; float:left; position: relative; margin-right: 20px; -webkit-animation: blinky 1s infinite;-moz-animation: blinky 1s infinite;-p-animation: blinky 1s infinite;-animation: blinky 1s infinite;}
.colon.dn .box {display: none;opacity: 0;}
.colon .box {position: absolute; min-width: 25px; min-height: 25px; background: #6e6e6e; opacity: 1}
.colon .box.top {top: 110px;}
.colon .box.bottom {top: 190px;}

/* Times */
.time-1 .bar-holder.top, .time-1 .bar-holder.tl, .time-1 .bar-holder.middle, .time-1 .bar-holder.bl, .time-1 .bar-holder.bottom {display: none;}
.time-2 .bar-holder.tl, .time-2 .bar-holder.br{display: none;}
.time-3 .bar-holder.tl, .time-3 .bar-holder.bl{display: none;}
.time-4 .bar-holder.top, .time-4 .bar-holder.bl, .time-4 .bar-holder.bottom{display: none;}
.time-5 .bar-holder.tr, .time-5 .bar-holder.bl {display: none;}
.time-6 .bar-holder.tr {display: none;}
.time-7 .bar-holder.tl, .time-7 .bar-holder.middle, .time-7 .bar-holder.bottom, .time-7 .bar-holder.bl {display: none;}
.time-9 .bar-holder.bl, .time-9 .bar-holder.bottom {display: none;}
.time-0 .bar-holder.middle {display: none;}
